# Exercice 1

In [5]:
def somme_liste(liste):
    total = 0
    for nombre in liste:
        total += nombre
    return total

# Test
print(somme_liste([1, 2, 3, 4]))

10

In [20]:
def somme_liste(liste):
    return sum(liste)

# Test
print(somme_liste([1, 2, 3, 4]))

10

# Exercice 2

In [6]:
def max_tuple(t):
    maximum = t[0]
    for nombre in t:
        if nombre > maximum:
            maximum = nombre
    return maximum

# Test
print(max_tuple((1, 5, 3)))

5

In [21]:
def max_tuple(t):
    return max(t)

# Test
print(max_tuple((1, 5, 3)))

5

# Exercice 3

In [7]:
def intersection(ensemble1, ensemble2):
    resultat = set()
    for element in ensemble1:
        if element in ensemble2:
            resultat.add(element)
    return resultat

# Test
print(intersection({1, 2, 3}, {2, 3, 4}))
print(intersection({1, 2, 3}, {4, 5}))

{2, 3}
set()

In [22]:
def intersection(ensemble1, ensemble2):
    return ensemble1.intersection(ensemble2)

# Test
print(intersection({1, 2, 3}, {2, 3, 4}))
print(intersection({1, 2, 3}, {4, 5}))

{2, 3}
set()

# Exercice 4

In [10]:
def compte_occurences(liste):
    resultat = {}
    for mot in liste:
        if mot in resultat:
            resultat[mot] += 1
        else:
            resultat[mot] = 1
    return resultat

# Test
print(compte_occurences(["sana", "soumaya", "sana","maryem", "soumaya", "soumaya"]))
print(compte_occurences(['a', 'b', 'a', 'c', 'b', 'a']))

{'sana': 2, 'soumaya': 3, 'maryem': 1}
{'a': 3, 'b': 2, 'c': 1}

In [24]:
def compte_occurences(liste):
    return {mot: liste.count(mot) for mot in set(liste)}

# Test
print(compte_occurences(["sana", "soumaya", "sana","maryem", "soumaya", "soumaya"]))
print(compte_occurences(['a', 'b', 'a', 'c', 'b', 'a']))

{'sana': 2, 'maryem': 1, 'soumaya': 3}
{'a': 3, 'c': 1, 'b': 2}

# Exerccice 5

In [11]:
def factorielle(n):
    if n == 0:
        return 1
    return n * factorielle(n - 1)

# Test
print(factorielle(5))
print(factorielle(0))

120
1

# Exercice 6

In [12]:
carre = lambda x: x ** 2

# Test
print(carre(4))
print(carre(7))

16
49

# Exercice 7

In [13]:
def salutation(nom, message="Bonjour"):
  print(message + ", " + nom + "!")

# Test
salutation("sana")
salutation("soumaya", "Bonsoir")

Bonjour, sana!
Bonsoir, soumaya!

# Exercice 8

In [42]:
def somme_varargs(*args):
  total = ""
  for arg in args:
    total += arg
  return total

# Test
print (somme_varargs("je", " m'appelle", " sana"))

je m'appelle sana

In [43]:
def somme_varargs(*args):
    return sum(args)

# Test
print(somme_varargs(5, 5, 5))
print(somme_varargs(1, 1, 1, 1))
print(somme_varargs(1))

15
4
1

# Exercice 9

In [19]:
def analyse_texte(texte):
    mots = texte.split()  # Diviser le texte en mots
    return {
        "nombre_de_mots": len(mots),               # Nombre de mots
        "nombre_de_caracteres": len(texte)         # Nombre total de caractères
    }

# Test
resultat = analyse_texte("Bonjour tout le monde")
print(resultat)

{'nombre_de_mots': 4, 'nombre_de_caracteres': 21}

# Exercice 10

In [47]:
def fusionner_dicts(dict1, dict2):
    fusion = dict1.copy()
    for key, value in dict2.items():
        if key in fusion:
            fusion[key] += value
        else:
            fusion[key] = value
    return fusion

# Tests
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4, "a": 8 }
resultat = fusionner_dicts(dict1, dict2)
print(resultat)

{'a': 9, 'b': 5, 'c': 4}