# Exercice 8

In [11]:
def somme_varargs(*args):
  total = ""
  for arg in args:
    total += arg
  return total

# Test
print (somme_varargs("je", " m'appelle", " sana"))

je m'appelle sana

In [10]:
def somme_varargs(*args):
    return sum(args)

# Test
print(somme_varargs(5, 5, 5))
print(somme_varargs(1, 1, 1, 1))
print(somme_varargs(1))

15
4
1